/*    Default code for  screen devices, (min/max-width: 1440px or higher)  */

html,
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
}

/* Font-family */

.nav-items a,
p,
ul,
label,
select,
button {
	font-family: "Open Sans", "Open Sans-fallback";
}

h1,
h2 {
	font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
}

h3 {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Font-sizes */

p,
ul {
	text-align: left;
	font-size: calc(16px + 0.2vw);
}

h3 {
	font-size: calc(16px + 0.5vw);
}

h2 {
	font-size: calc(18px + 1vw);
}

h1 {
	font-size: calc(20px + 2.5vw);
}

/* Nav */

nav {
	position: fixed;
	width: 100%;
	background-color: #ffbd20;
	top: 0;
	z-index: 1;
}

#nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: calc(0.7em + 0.5vw);
	padding-bottom: calc(0.7em + 0.5vw);
}

.nav-items a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

/* Hero-banner */

#hero-wrapper {
	display: flex;
	flex-direction: row;
	background-image: url(../images/hero-image.jpg);
	background-repeat: repeat;
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
}

#hero-header {
	flex: 1 40%;
	outline: 1px solid black;
	background-color: rgba(255, 189, 32, 0.5);
}

#img-wrapper {
	flex: 2 60%;
	max-width: 60%;
}

#img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	outline: 1px solid black;
}

/* header-wrapper */

.header-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	align-items: center;
}

.header-wrapper h1 {
	font-weight: bold;
}

.header-wrapper h2 {
	font-weight: bold;
}

.header-wrapper p {
	font-weight: 500;
	text-align: start;
	padding-left: 1.3em;
	padding-right: 1.3em;
	font-weight: 500;
	margin: 0;
}

/* main */

main {
	width: calc(95% - 15vw);
	margin-left: auto;
	margin-right: auto;
}

main h2 {
	border-bottom: 0.1em solid #fe9802;
	color: #fe9802;
	margin-top: 0;
}

h3 {
	color: black;
	font-weight: bold;
}

.h3-wrapper {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 1em;
}

.h3-wrapper h3 {
	margin: 0;
}

.h3-wrapper p {
	font-style: oblique;
	margin-left: auto;
}

/* Main sections spacing */

.education,
.experience,
.skills,
aside,
.accolades {
	padding-top: calc(2em + 3vw);
}

aside {
	padding-bottom: calc(2em + 3vw);
}

.main-articles {
	padding-bottom: calc(1em + 0.5vw);
}

/* Skills-section */

#skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	gap: 1em;
	padding: 0;
}

#skills-wrapper li {
	border: 1px solid black;
	min-width: 30px;
	padding: 0.5em;
	border-radius: 5px;
	background-color: rgba(255, 189, 32, 0.5);
	font-weight: bold;
	text-align: center;
}

/* Certificates section */

#certs-wrapper {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	row-gap: 3em;
}

.cert-wrapper {
	display: flex;
	flex-direction: column;
}

.cert-wrapper h3 {
	margin: 0;
}

.cert-wrapper p {
	margin: 0;
}

/* Awards & Achievements section */

#accolades-wrapper {
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr;
	row-gap: 3em;
}

.accolade-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.accolade-wrapper h3 {
	margin: 0;
}

.accolade-wrapper p {
	margin: 0;
}

/* footer */

footer {
	background-image: url(../images/hero-image.jpg);
	background-repeat: repeat;
	background-position: top;
	background-size: cover;
	display: grid;
	grid-template: 1fr 10% / 1fr;
	height: 600px;
}

/* logos */

#logos-wrapper {
	display: flex;
	background-color: rgba(0, 0, 0, 0.9);
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#github-logo,
#linkedin-logo,
#email-logo {
	width: calc(1.5em + 1vw);
	height: auto;
}

/* Linkedin logo animation */

@keyframes linkedin-animation {
	0% {
		transform: rotateY(360deg);
		filter: invert(100%);
	}
	50% {
		filter: invert(100%);
	}
	75% {
		filter: invert(100%);
	}
	100% {
		filter: opacity(100%);
	}
}

#linkedin-logo:hover {
	animation-name: linkedin-animation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

/* Github and Email logo animations */

@keyframes default-animation {
	0% {
		transform: rotateY(360deg);
	}
}

#github-logo:hover {
	animation-name: default-animation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

#email-logo:hover {
	animation-name: default-animation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

/* form */

#form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	border: 1px solid black;
	margin: 2em auto 2em auto;
	padding: 1em;
	width: auto;
	background-color: #eed7a1;
}

input {
	height: 2em;
	margin-top: 5px;
}

#name-field,
#email-field {
	width: 180px;
}

#contact-reason {
	height: 2.5em;
	width: 100%;
	margin-top: 5px;
}

#extra-info {
	margin-top: 5px;
	height: 100%;
}

button {
	align-self: center;
	background-color: #ffbd20;
	border: 1px solid black;
	font-weight: bold;
	padding: 0.5em 0.9em 0.5em 0.9em;
}

/*    

Code for small to large mobile screen devices (max-width: 767px)  

*/

@media only screen and (max-width: 767px) {
	nav {
		position: static;
		outline: 1px solid black;
	}

	#hero-wrapper {
		flex-direction: column-reverse;
		justify-content: flex-start;
	}

	#hero-header {
		flex: auto;
		outline: none;
	}

	#img-wrapper {
		flex: 40%;
		max-width: 100%;
		max-height: 40%;
	}

	#img-wrapper img {
		outline: none;
	}

	main {
		width: 90%;
	}
}
